* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
  font-family: 'Harry P';
  src: url('/HARRYP__.TTF')
       format('truetype');
}

h1 {
  font-family: 'Harry P', sans-serif;
  font-size: 75px;
  margin: 0 0 30px 0;
}

#header-box {
  background-color: black;
  color: Gold;
  height: 135px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 30px;
}

.nav-link {
  height: 35px;
  background-color: rgb(240,240,240);
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav-link a {
  color: gray;
  text-decoration: none;
  margin: 0 13px 0 0;
}

.nav-link a:hover {
  text-decoration: underline;
}

#page-container {
  position: relative;
  min-height: 110vh;
}

#content-wrap {
  padding-bottom: 3rem;
}

#slyth {
  color: rgb(0,75,0);
}

#gryff {
  color: rgb(152,17,17);
}

#huffl {
  color: Goldenrod;
}

#raven {
  color: rgb(35,45,138);
}

/* House Picker styles */

#houseSubmit {
  font-size: 18px;
  background-color: rgb(230,230,230);
  color: Gray;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid Silver;
}

#houseResults {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;


  border-color: red;
  border-width: 10px;
  border-style: dashed;
}

#profile {
  border-color: rgb(255, 238, 0);
  border-width: 10px;
  border-style: dashed;
  display: flex;
  width: 40%;
}

#nameandpic {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 20px;
  padding: 10px;

  border-color: rgb(123, 108, 207);
  border-width: 10px;
  border-style: dashed;
}

#information {
  overflow-wrap: normal;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 20px;
  padding: 10px;


  border-color: rgb(0, 255, 21);
  border-width: 10px;
  border-style: dashed;
}

#input {
  font-size: 25px;
  color: rgb(68, 68, 68);
  text-align: center;
  align-items: center;
  display: block;
  margin-top: 10px;
}

#characterpage-container {
  position: relative;
  min-height: 110vh;
}


/* Random Character Picker styles */

#random-character-button {
  font-size: 18px;
  background-color: rgb(230,230,230);
  color: Gray;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid Silver;
}

.rand-character {
  margin: 25px 0 0 0;
  align-items: center;
  display: block;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#character-info {
  margin: 30px;
}



/* Footer styles */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer a {
  color: Gold;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}
